# List datatype
- If we want to represent a group of values as a single entity where insertion order required to preserve and duplicates are allowed then we should go for list data type.
- List is mutable
- There is no length limit to store elements in list.but it is not recommended bcse list objects stored inside python memory compulsory there should be some limit..if we want store huge amount of object better to go database persistance storage..

- Insertion order is preserved
- duplicates are allowed

In [10]:
l=[]
print(type(l))
l.append(10)
l.append(20)
l.append(10)
print(l)

<class 'list'>
[10, 20, 10]

- heteregenous objects are allowed

In [11]:
l.append("Nikitha")
print(l)

[10, 20, 10, 'Nikitha']

In [12]:
l.append(None)
print(l)

[10, 20, 10, 'Nikitha', None]

In [22]:
l=[10, 20, 10, 'Nikitha', None]
print(l[0])
print(l[-1])
print(l)
print(l[1:5])

10
None
[10, 20, 10, 'Nikitha', None]
[20, 10, 'Nikitha', None]

- Growable in nature

In [19]:
#reduce and increase the value
l=[10,20,40,10,50]
l.remove(20)
print(l)

[10, 40, 10, 50]

- Values should be enclosed within square brackets

In [1]:
l=[5,7,"nikki"]
print(type(l))
l[0]=8
print(l)

<class 'list'>
[8, 7, 'nikki']

In [23]:
# * opeartor is applicable for anywhere but not in any other languages
k=[10,"nimbu",True]
print(k*3)

[10, 'nimbu', True, 10, 'nimbu', True, 10, 'nimbu', True]

# Tuple datatype
- Tuple datatype is exactly same as list data type except that it is immutable.i.e.we cannot chnage
- By using paranthesis we can represent tuple

In [29]:
t=(10,"nikki",10,True)
print(type(t))
print(t[0])#index also allowed
print(t[0:3])#slicing also allowed

<class 'tuple'>
10
(10, 'nikki', 10)

In [36]:
m=(40,"nimbu",20,True,40)
print(type(m))
m[0]=100

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [33]:
print(m*2)

(40, 'nimbu', 20, True, 40, 40, 'nimbu', 20, True, 40)

###  Difference  b/w List and Tuple
- List object is mutable..Tuple obect is immutable...Once we create a list object we can allowed to change its content like adding the new element,remove the existing element,replacing an element..But in the case of tuple we cannot replacing the element...
- List elements can be represented within square brackets..Tuple elements can be represented within paranthesis

In [4]:
#list also used in tuple
k=(10,20,[2,6])
print(type(k))
print(k[0])
print(k[2])

<class 'tuple'>
10
[2, 6]

# range datatype
- range data type represent a sequence of values
- It is immutable

### Form-1:range(10)
- It represents values from 0 to 9(end-1).

In [10]:
#Example
r=range(10)
type(r)
print(r)
for i in r:
    print(i)
print(r[0])
print()
print(r[-1])
print(r[1:3])

range(0, 10)
0
1
2
3
4
5
6
7
8
9
0

9
range(1, 3)

In [27]:
#range is immutable
m=range(10)
print(type(m))
m[0]=100

<class 'range'>

TypeError: 'range' object does not support item assignment

In [35]:
m=range(10)
print(id(m))
k=range(10)
print(id(k))

140438656019840
140438656019264

In [1]:
s=0
for i in range(10):
    s=s+i
print(s)

45

### Form-2:range(10,20)
- It represents the value from 10 to 19(end-1).

In [50]:
h=range(10,20)
for i in h:
    print(i)

10
11
12
13
14
15
16
17
18
19

### Form-3:range(10,20,2)
- It represents the value from 10 to 19 increment by 2.
- Here,2 is called step value

In [53]:
d=range(10,20,2)
for i in d:
    print(i)

10
12
14
16
18

In [1]:
#range is not applicable for float..only applicable for numbers
range(10.5,20.7)

TypeError: 'float' object cannot be interpreted as an integer