# Output Statements
- We can use print() to display output.

### Form-1:
- print() without any argument
- just it prints new line character.

In [2]:
print("Hello")
print()
print("Good evng")

Hello

Good evng

### Form-2:
- print() with string argument
- print(string)

In [5]:
print("Hello Nikitha")
print("Hello \n Nikki")# escape characters
print("Hello \t Neelu")

Hello Nikitha
Hello
 Nikki
Hello 	 Neelu

- We can use * repetition operator in the string

In [7]:
print("nani"*3)

naninaninani

- We can use + operator also

In [9]:
print("Nikki"+"Nimbu")

NikkiNimbu

## Note:
- If both arguments are string type then + operator acts as concatenation operator.
- If one argument is string type and second is any other type like int then we will get Error.
- If both arguments are number type then + operator acts as arthimetic addition operator.
- If one argument is string type and other should be int type then * operator acts as Repetition operator.

In [2]:
### Note:
print("Hello"+"world")#no space in middle
print("Hello","World")#space will be added in middle

Helloworld
Hello World

### Form-3:
- print() with variable number of arguments.

In [12]:
a,b,c=10,20,30
print("The values are:",a,b,c)

The values are: 10 20 30

- By default output values are seperated by space.if we want we can specify seperator by using "sep" attribute.

In [2]:
a,b,c=10,20,30
print(a,b,c)
print(a,b,c,sep=",")

10 20 30
10,20,30

## Form-4:
- print() with end attribute.

In [4]:
print("Hello")
print("Nikitha")

Hello
Nikitha

- If we want output in the same line with space.

In [2]:
print("Hello",end=' ')
print("Nikitha")

Hello Nikitha

In [9]:
print(10,20,30,40,sep=":",end=".....")
print(50,60,70,sep="-")

10:20:30:40.....50-60-70

## Note:
- The default value for end attribute is \n,Which is ntg but new line character.
- The default value for sep attribute is space.

## Form-5:
- print(object) statements:
    - We can pass any object(like list,tuple,set etc)as argument to the print() statement.

In [11]:
l=[10,20,30]
t=(10,20,30)
s={10,20,30}
print(l)
print(t)
print(s)

[10, 20, 30]
(10, 20, 30)
{10, 20, 30}

## Form-6 
- print(string,variable list)
    - We can use print() statement with string and any number of arguments

In [3]:
s="Harish"
a=25
s1="java"
s2="python"
print("Hello",s,"Your age is",a)

Hello Harish Your age is 25

## Form-7:
- Print(formatted string):
    - %i==>int
    - %d===>int
    - %f==>float
    - %s==>string type
- **Syntax:**
  - print("formatted string" %(variable lis))

In [4]:
a=10
b=20
c=30
print("a value is %i" %a)
print("b value is %i and c value is %i" %(b,c))

a value is 10
b value is 20 and c value is 30

In [18]:
s="nikki"
l=[10,20,30]
print("Hello %s the list is:%s" %(s,l))

Hello nikki the list is:[10, 20, 30]

## Form-8 
- print() with replacement operator{}

In [24]:
n="Nikki"
s="50000"
frnd="Nimbu"
print("Hello {0} your salary is {1} and your {2} is waiting for you".format(n,s,frnd))
print("Hello {} Your salary is {} and your {} is waiting for you".format(n,s,frnd))
print("Hello {x} Your salary is {y} and your {z} is waiting for you".format(x=n,z=frnd,y=s))

Hello Nikki your salary is 50000 and your Nimbu is waiting for you
Hello Nikki Your salary is 50000 and your Nimbu is waiting for you
Hello Nikki Your salary is 50000 and your Nimbu is waiting for you