# Tuple Data type
- Tuple is exactly same as List except that it is immutable.i.e Once we creates Tuple object,we cannot perform any changes in that object.<br>
Hence Tuple is Read only version of List.
- If our data is fixed and never changes then we should go for Tuple.
- Insertion order is preserved.
- Duplicates are allowed.
- Heterogenous objects are allowed.
- We can preserve insertion order and we can differentiate duplicates objects by using index.Hence index will play very imp role in Tuple also.<br>
Tuple supports both +ve and -ve index.
- We can represnt Tuple elements within paranthesis and with comma seperator.

In [1]:
t=10,20,30,40
print(type(t))

<class 'tuple'>

In [2]:
t=()
print(type(t))

<class 'tuple'>

### Note:
- We have to take special care about single valued tuple.compulsory the value should ends with comma,otherwise it is not treated as tuple.
- Parenthesis is optional for tuple.

In [8]:
t=10
print(type(t))

<class 'int'>

In [9]:
t=(10)
print(type(t))

<class 'int'>

In [4]:
t=10,
print(type(t))

<class 'tuple'>

In [5]:
#represent single value tuple comma must be required at end
t=(10,)
print(type(t))

<class 'tuple'>

In [7]:
t=(10+20)
print(t)
print(type(t))

30
<class 'int'>

### Which of the following are valid tuples?
- t=()
- t=10,20,30,40
- t=10#invalid
- t=10,
- t=(10)#invalid
- t=(10,)
- t=(10,20,30,40)

## Tuple Creation:

- Creation of empty tuple

In [10]:
t=()
print(type(t))

<class 'tuple'>

- Creation of single valued tuple,parenthesis are optional,should ends with comma.

In [11]:
t=(10,)
print(type(t))

<class 'tuple'>

In [14]:
t=10,
print(type(t))

<class 'tuple'>

- Creation of multi values tuples and parenthesis are optional.

In [12]:
t=(10,20,30,)
print(type(t))

<class 'tuple'>

In [13]:
t=10,20,30
print(type(t))

<class 'tuple'>

In [15]:
t=10,20,30,
print(type(t))

<class 'tuple'>

- By using tuple function

In [16]:
l=[10,20,30]
t=tuple(l)
print(type(t))
print(t)

<class 'tuple'>
(10, 20, 30)

In [19]:
t=tuple(range(0,10,2))
print(t)
print(type(t))

(0, 2, 4, 6, 8)
<class 'tuple'>

In [24]:
t=tuple("Nani")
print(t)
print(type(t))

('N', 'a', 'n', 'i')
<class 'tuple'>

## Accessing elements of tuple:
- We can access either by index or by slice operator

### 1.By using index

In [20]:
t=(10,20,30,40)
print(t[0])
print(t[-2])

10
30

IndexError: tuple index out of range

In [21]:
print(t[100])

IndexError: tuple index out of range

### 2.By using slice operator

In [23]:
t=(10,20,30,40)
print(t[2:])
print(t[1:3])
print(t[2:100])

(30, 40)
(20, 30)
(30, 40)

## Tuple vs Immutability
- Once we creates tuple,we cannot change its content.Hence tuple objects are immuatble.

In [25]:
t=(10,20,30,40)
t[1]=777

TypeError: 'tuple' object does not support item assignment

## Mathematical operators for tuple
- We can apply + and * operators for tuple.

### 1. Concatenation Operator(+):

In [27]:
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)
print(t1)
print(t2)

(10, 20, 30, 40, 50, 60)
(10, 20, 30)
(40, 50, 60)

### 2.Repetition Operator

In [28]:
t1=(10,20,30)
print(t1*3)

(10, 20, 30, 10, 20, 30, 10, 20, 30)